.floating-panel {
  a {
    color: #000000;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
  }
}

.header {
  .header-content {
    .toggler-menu {
      padding: 10px 20px 10px 20px;
      font-size: 24px;
      cursor: pointer;
    }
  }
}